In [2]:
%cd dolwick_project

[Errno 2] No such file or directory: 'dolwick_project'
/Users/AlexDolwick/dolwick_project

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("~/Documents/NIH IRTA/Running Log.csv")

In [3]:
print(df)

           Date  Mileage     Time
0    2009-04-25     3.10    29:38
1    2009-11-21     3.10    22:51
2    2010-01-04     1.30    17:00
3    2010-01-05     2.60    28:00
4    2010-01-07     2.60    28:00
5    2010-01-11     1.30      NaN
6    2010-01-14     2.60    26:00
7    2010-01-16     4.05    35:48
8    2010-01-19     2.60    24:00
9    2010-01-25     2.66    24:15
10   2010-01-26     2.60    24:19
11   2010-01-28     3.27    26:29
12   2010-02-04     2.60    24:03
13   2010-02-11     2.60      NaN
14   2010-02-16     2.60    22:04
15   2010-02-18     2.60    22:56
16   2010-03-13     3.00    29:28
17   2010-03-15     3.00    28:00
18   2010-03-16     3.00    30:00
19   2010-04-04     2.60    22:02
20   2010-04-24     3.10    24:12
21   2010-05-02     3.75    42:04
22   2010-05-11     2.60    22:10
23   2010-05-13     2.13    21:00
24   2010-05-19     2.60    20:15
25   2010-05-20     3.30      NaN
26   2010-05-22     4.05    37:34
27   2010-05-25     4.30    33:48
28   2010-05-27     5.40    38:58
29   2010-05-29     2.60    22:25
..          ...      ...      ...
226  2011-11-12     4.00      NaN
227  2011-11-13     4.05    29:17
228  2011-11-14     1.10     6:01
229  2011-11-15     4.00    26:58
230  2011-11-16     4.00    28:47
231  2011-11-17     6.00    41:55
232  2011-11-19     3.10    17:42
233  2011-11-22     5.10    37:43
234  2011-11-24     2.12    12:35
235  2011-11-28     4.00    28:54
236  2011-11-29     4.20    30:42
237  2011-11-30     6.92    49:58
238  2011-12-03     4.05    31:06
239  2011-12-04     8.20  1:03:32
240  2011-12-06     4.20    30:00
241  2011-12-07     6.00    42:57
242  2011-12-10     3.25      NaN
243  2011-12-12     4.20    29:56
244  2011-12-13     4.10    28:31
245  2011-12-14     6.47    46:58
246  2011-12-16     6.00    43:14
247  2011-12-18     8.20  1:04:08
248  2011-12-20     5.00    33:50
249  2011-12-21     4.10    29:04
250  2011-12-22     4.07    29:35
251  2011-12-24     9.20  1:11:05
252  2011-12-27     8.20  1:00:49
253  2011-12-29     4.20    30:58
254  2011-12-30     6.10    49:18
255  2012-01-01     3.10    19:05

[256 rows x 3 columns]

In [11]:
df["yada"] = pd.np.where(df.Time.str.contains('\d:\d\d:\d\d', regex = True), df["Time"], "0:" + df["Time"])
print(df)

           Date  Mileage     Time     yada
0    2009-04-25     3.10    29:38  0:29:38
1    2009-11-21     3.10    22:51  0:22:51
2    2010-01-04     1.30    17:00  0:17:00
3    2010-01-05     2.60    28:00  0:28:00
4    2010-01-07     2.60    28:00  0:28:00
5    2010-01-11     1.30      NaN      NaN
6    2010-01-14     2.60    26:00  0:26:00
7    2010-01-16     4.05    35:48  0:35:48
8    2010-01-19     2.60    24:00  0:24:00
9    2010-01-25     2.66    24:15  0:24:15
10   2010-01-26     2.60    24:19  0:24:19
11   2010-01-28     3.27    26:29  0:26:29
12   2010-02-04     2.60    24:03  0:24:03
13   2010-02-11     2.60      NaN      NaN
14   2010-02-16     2.60    22:04  0:22:04
15   2010-02-18     2.60    22:56  0:22:56
16   2010-03-13     3.00    29:28  0:29:28
17   2010-03-15     3.00    28:00  0:28:00
18   2010-03-16     3.00    30:00  0:30:00
19   2010-04-04     2.60    22:02  0:22:02
20   2010-04-24     3.10    24:12  0:24:12
21   2010-05-02     3.75    42:04  0:42:04
22   2010-05-11     2.60    22:10  0:22:10
23   2010-05-13     2.13    21:00  0:21:00
24   2010-05-19     2.60    20:15  0:20:15
25   2010-05-20     3.30      NaN      NaN
26   2010-05-22     4.05    37:34  0:37:34
27   2010-05-25     4.30    33:48  0:33:48
28   2010-05-27     5.40    38:58  0:38:58
29   2010-05-29     2.60    22:25  0:22:25
..          ...      ...      ...      ...
226  2011-11-12     4.00      NaN      NaN
227  2011-11-13     4.05    29:17  0:29:17
228  2011-11-14     1.10     6:01   0:6:01
229  2011-11-15     4.00    26:58  0:26:58
230  2011-11-16     4.00    28:47  0:28:47
231  2011-11-17     6.00    41:55  0:41:55
232  2011-11-19     3.10    17:42  0:17:42
233  2011-11-22     5.10    37:43  0:37:43
234  2011-11-24     2.12    12:35  0:12:35
235  2011-11-28     4.00    28:54  0:28:54
236  2011-11-29     4.20    30:42  0:30:42
237  2011-11-30     6.92    49:58  0:49:58
238  2011-12-03     4.05    31:06  0:31:06
239  2011-12-04     8.20  1:03:32  1:03:32
240  2011-12-06     4.20    30:00  0:30:00
241  2011-12-07     6.00    42:57  0:42:57
242  2011-12-10     3.25      NaN      NaN
243  2011-12-12     4.20    29:56  0:29:56
244  2011-12-13     4.10    28:31  0:28:31
245  2011-12-14     6.47    46:58  0:46:58
246  2011-12-16     6.00    43:14  0:43:14
247  2011-12-18     8.20  1:04:08  1:04:08
248  2011-12-20     5.00    33:50  0:33:50
249  2011-12-21     4.10    29:04  0:29:04
250  2011-12-22     4.07    29:35  0:29:35
251  2011-12-24     9.20  1:11:05  1:11:05
252  2011-12-27     8.20  1:00:49  1:00:49
253  2011-12-29     4.20    30:58  0:30:58
254  2011-12-30     6.10    49:18  0:49:18
255  2012-01-01     3.10    19:05  0:19:05

[256 rows x 4 columns]

In [12]:
#df.dropna(inplace=True)
new = df["yada"].str.split(pat = ":", expand = True)
print(new)

       0    1    2
0      0   29   38
1      0   22   51
2      0   17   00
3      0   28   00
4      0   28   00
5    NaN  NaN  NaN
6      0   26   00
7      0   35   48
8      0   24   00
9      0   24   15
10     0   24   19
11     0   26   29
12     0   24   03
13   NaN  NaN  NaN
14     0   22   04
15     0   22   56
16     0   29   28
17     0   28   00
18     0   30   00
19     0   22   02
20     0   24   12
21     0   42   04
22     0   22   10
23     0   21   00
24     0   20   15
25   NaN  NaN  NaN
26     0   37   34
27     0   33   48
28     0   38   58
29     0   22   25
..   ...  ...  ...
226  NaN  NaN  NaN
227    0   29   17
228    0    6   01
229    0   26   58
230    0   28   47
231    0   41   55
232    0   17   42
233    0   37   43
234    0   12   35
235    0   28   54
236    0   30   42
237    0   49   58
238    0   31   06
239    1   03   32
240    0   30   00
241    0   42   57
242  NaN  NaN  NaN
243    0   29   56
244    0   28   31
245    0   46   58
246    0   43   14
247    1   04   08
248    0   33   50
249    0   29   04
250    0   29   35
251    1   11   05
252    1   00   49
253    0   30   58
254    0   49   18
255    0   19   05

[256 rows x 3 columns]

In [14]:
result = pd.concat([df, new], axis=1, sort=False)
print(result)

           Date  Mileage     Time     yada    0    1    2
0    2009-04-25     3.10    29:38  0:29:38    0   29   38
1    2009-11-21     3.10    22:51  0:22:51    0   22   51
2    2010-01-04     1.30    17:00  0:17:00    0   17   00
3    2010-01-05     2.60    28:00  0:28:00    0   28   00
4    2010-01-07     2.60    28:00  0:28:00    0   28   00
5    2010-01-11     1.30      NaN      NaN  NaN  NaN  NaN
6    2010-01-14     2.60    26:00  0:26:00    0   26   00
7    2010-01-16     4.05    35:48  0:35:48    0   35   48
8    2010-01-19     2.60    24:00  0:24:00    0   24   00
9    2010-01-25     2.66    24:15  0:24:15    0   24   15
10   2010-01-26     2.60    24:19  0:24:19    0   24   19
11   2010-01-28     3.27    26:29  0:26:29    0   26   29
12   2010-02-04     2.60    24:03  0:24:03    0   24   03
13   2010-02-11     2.60      NaN      NaN  NaN  NaN  NaN
14   2010-02-16     2.60    22:04  0:22:04    0   22   04
15   2010-02-18     2.60    22:56  0:22:56    0   22   56
16   2010-03-13     3.00    29:28  0:29:28    0   29   28
17   2010-03-15     3.00    28:00  0:28:00    0   28   00
18   2010-03-16     3.00    30:00  0:30:00    0   30   00
19   2010-04-04     2.60    22:02  0:22:02    0   22   02
20   2010-04-24     3.10    24:12  0:24:12    0   24   12
21   2010-05-02     3.75    42:04  0:42:04    0   42   04
22   2010-05-11     2.60    22:10  0:22:10    0   22   10
23   2010-05-13     2.13    21:00  0:21:00    0   21   00
24   2010-05-19     2.60    20:15  0:20:15    0   20   15
25   2010-05-20     3.30      NaN      NaN  NaN  NaN  NaN
26   2010-05-22     4.05    37:34  0:37:34    0   37   34
27   2010-05-25     4.30    33:48  0:33:48    0   33   48
28   2010-05-27     5.40    38:58  0:38:58    0   38   58
29   2010-05-29     2.60    22:25  0:22:25    0   22   25
..          ...      ...      ...      ...  ...  ...  ...
226  2011-11-12     4.00      NaN      NaN  NaN  NaN  NaN
227  2011-11-13     4.05    29:17  0:29:17    0   29   17
228  2011-11-14     1.10     6:01   0:6:01    0    6   01
229  2011-11-15     4.00    26:58  0:26:58    0   26   58
230  2011-11-16     4.00    28:47  0:28:47    0   28   47
231  2011-11-17     6.00    41:55  0:41:55    0   41   55
232  2011-11-19     3.10    17:42  0:17:42    0   17   42
233  2011-11-22     5.10    37:43  0:37:43    0   37   43
234  2011-11-24     2.12    12:35  0:12:35    0   12   35
235  2011-11-28     4.00    28:54  0:28:54    0   28   54
236  2011-11-29     4.20    30:42  0:30:42    0   30   42
237  2011-11-30     6.92    49:58  0:49:58    0   49   58
238  2011-12-03     4.05    31:06  0:31:06    0   31   06
239  2011-12-04     8.20  1:03:32  1:03:32    1   03   32
240  2011-12-06     4.20    30:00  0:30:00    0   30   00
241  2011-12-07     6.00    42:57  0:42:57    0   42   57
242  2011-12-10     3.25      NaN      NaN  NaN  NaN  NaN
243  2011-12-12     4.20    29:56  0:29:56    0   29   56
244  2011-12-13     4.10    28:31  0:28:31    0   28   31
245  2011-12-14     6.47    46:58  0:46:58    0   46   58
246  2011-12-16     6.00    43:14  0:43:14    0   43   14
247  2011-12-18     8.20  1:04:08  1:04:08    1   04   08
248  2011-12-20     5.00    33:50  0:33:50    0   33   50
249  2011-12-21     4.10    29:04  0:29:04    0   29   04
250  2011-12-22     4.07    29:35  0:29:35    0   29   35
251  2011-12-24     9.20  1:11:05  1:11:05    1   11   05
252  2011-12-27     8.20  1:00:49  1:00:49    1   00   49
253  2011-12-29     4.20    30:58  0:30:58    0   30   58
254  2011-12-30     6.10    49:18  0:49:18    0   49   18
255  2012-01-01     3.10    19:05  0:19:05    0   19   05

[256 rows x 7 columns]

In [21]:
df2 = result.rename(columns={"yada": "time_corr", 0: "hours", 1: "minutes", 2: "seconds"})
print(df2)

           Date  Mileage     Time time_corr hours minutes seconds
0    2009-04-25     3.10    29:38   0:29:38     0      29      38
1    2009-11-21     3.10    22:51   0:22:51     0      22      51
2    2010-01-04     1.30    17:00   0:17:00     0      17      00
3    2010-01-05     2.60    28:00   0:28:00     0      28      00
4    2010-01-07     2.60    28:00   0:28:00     0      28      00
5    2010-01-11     1.30      NaN       NaN   NaN     NaN     NaN
6    2010-01-14     2.60    26:00   0:26:00     0      26      00
7    2010-01-16     4.05    35:48   0:35:48     0      35      48
8    2010-01-19     2.60    24:00   0:24:00     0      24      00
9    2010-01-25     2.66    24:15   0:24:15     0      24      15
10   2010-01-26     2.60    24:19   0:24:19     0      24      19
11   2010-01-28     3.27    26:29   0:26:29     0      26      29
12   2010-02-04     2.60    24:03   0:24:03     0      24      03
13   2010-02-11     2.60      NaN       NaN   NaN     NaN     NaN
14   2010-02-16     2.60    22:04   0:22:04     0      22      04
15   2010-02-18     2.60    22:56   0:22:56     0      22      56
16   2010-03-13     3.00    29:28   0:29:28     0      29      28
17   2010-03-15     3.00    28:00   0:28:00     0      28      00
18   2010-03-16     3.00    30:00   0:30:00     0      30      00
19   2010-04-04     2.60    22:02   0:22:02     0      22      02
20   2010-04-24     3.10    24:12   0:24:12     0      24      12
21   2010-05-02     3.75    42:04   0:42:04     0      42      04
22   2010-05-11     2.60    22:10   0:22:10     0      22      10
23   2010-05-13     2.13    21:00   0:21:00     0      21      00
24   2010-05-19     2.60    20:15   0:20:15     0      20      15
25   2010-05-20     3.30      NaN       NaN   NaN     NaN     NaN
26   2010-05-22     4.05    37:34   0:37:34     0      37      34
27   2010-05-25     4.30    33:48   0:33:48     0      33      48
28   2010-05-27     5.40    38:58   0:38:58     0      38      58
29   2010-05-29     2.60    22:25   0:22:25     0      22      25
..          ...      ...      ...       ...   ...     ...     ...
226  2011-11-12     4.00      NaN       NaN   NaN     NaN     NaN
227  2011-11-13     4.05    29:17   0:29:17     0      29      17
228  2011-11-14     1.10     6:01    0:6:01     0       6      01
229  2011-11-15     4.00    26:58   0:26:58     0      26      58
230  2011-11-16     4.00    28:47   0:28:47     0      28      47
231  2011-11-17     6.00    41:55   0:41:55     0      41      55
232  2011-11-19     3.10    17:42   0:17:42     0      17      42
233  2011-11-22     5.10    37:43   0:37:43     0      37      43
234  2011-11-24     2.12    12:35   0:12:35     0      12      35
235  2011-11-28     4.00    28:54   0:28:54     0      28      54
236  2011-11-29     4.20    30:42   0:30:42     0      30      42
237  2011-11-30     6.92    49:58   0:49:58     0      49      58
238  2011-12-03     4.05    31:06   0:31:06     0      31      06
239  2011-12-04     8.20  1:03:32   1:03:32     1      03      32
240  2011-12-06     4.20    30:00   0:30:00     0      30      00
241  2011-12-07     6.00    42:57   0:42:57     0      42      57
242  2011-12-10     3.25      NaN       NaN   NaN     NaN     NaN
243  2011-12-12     4.20    29:56   0:29:56     0      29      56
244  2011-12-13     4.10    28:31   0:28:31     0      28      31
245  2011-12-14     6.47    46:58   0:46:58     0      46      58
246  2011-12-16     6.00    43:14   0:43:14     0      43      14
247  2011-12-18     8.20  1:04:08   1:04:08     1      04      08
248  2011-12-20     5.00    33:50   0:33:50     0      33      50
249  2011-12-21     4.10    29:04   0:29:04     0      29      04
250  2011-12-22     4.07    29:35   0:29:35     0      29      35
251  2011-12-24     9.20  1:11:05   1:11:05     1      11      05
252  2011-12-27     8.20  1:00:49   1:00:49     1      00      49
253  2011-12-29     4.20    30:58   0:30:58     0      30      58
254  2011-12-30     6.10    49:18   0:49:18     0      49      18
255  2012-01-01     3.10    19:05   0:19:05     0      19      05

[256 rows x 7 columns]

In [27]:
for x in

,Date,Mileage,Time,time_corr,hours,minutes,seconds,Time_Seconds,time_seconds
0,2009-04-25,3.10,29:38,0:29:38,0,29,38,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
1,2009-11-21,3.10,22:51,0:22:51,0,22,51,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
2,2010-01-04,1.30,17:00,0:17:00,0,17,00,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
3,2010-01-05,2.60,28:00,0:28:00,0,28,00,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
4,2010-01-07,2.60,28:00,0:28:00,0,28,00,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
5,2010-01-11,1.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2010-01-14,2.60,26:00,0:26:00,0,26,00,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
7,2010-01-16,4.05,35:48,0:35:48,0,35,48,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
8,2010-01-19,2.60,24:00,0:24:00,0,24,00,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
9,2010-01-25,2.66,24:15,0:24:15,0,24,15,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
10,2010-01-26,2.60,24:19,0:24:19,0,24,19,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
11,2010-01-28,3.27,26:29,0:26:29,0,26,29,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
12,2010-02-04,2.60,24:03,0:24:03,0,24,03,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
13,2010-02-11,2.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2010-02-16,2.60,22:04,0:22:04,0,22,04,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
15,2010-02-18,2.60,22:56,0:22:56,0,22,56,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
16,2010-03-13,3.00,29:28,0:29:28,0,29,28,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
17,2010-03-15,3.00,28:00,0:28:00,0,28,00,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
18,2010-03-16,3.00,30:00,0:30:00,0,30,00,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
19,2010-04-04,2.60,22:02,0:22:02,0,22,02,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
20,2010-04-24,3.10,24:12,0:24:12,0,24,12,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
21,2010-05-02,3.75,42:04,0:42:04,0,42,04,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
22,2010-05-11,2.60,22:10,0:22:10,0,22,10,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
23,2010-05-13,2.13,21:00,0:21:00,0,21,00,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
24,2010-05-19,2.60,20:15,0:20:15,0,20,15,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
25,2010-05-20,3.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2010-05-22,4.05,37:34,0:37:34,0,37,34,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
27,2010-05-25,4.30,33:48,0:33:48,0,33,48,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
28,2010-05-27,5.40,38:58,0:38:58,0,38,58,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
29,2010-05-29,2.60,22:25,0:22:25,0,22,25,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
...,...,...,...,...,...,...,...,...,...
226,2011-11-12,4.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,2011-11-13,4.05,29:17,0:29:17,0,29,17,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
228,2011-11-14,1.10,6:01,0:6:01,0,6,01,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
229,2011-11-15,4.00,26:58,0:26:58,0,26,58,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
230,2011-11-16,4.00,28:47,0:28:47,0,28,47,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
231,2011-11-17,6.00,41:55,0:41:55,0,41,55,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
232,2011-11-19,3.10,17:42,0:17:42,0,17,42,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
233,2011-11-22,5.10,37:43,0:37:43,0,37,43,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
234,2011-11-24,2.12,12:35,0:12:35,0,12,35,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
235,2011-11-28,4.00,28:54,0:28:54,0,28,54,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
236,2011-11-29,4.20,30:42,0:30:42,0,30,42,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
237,2011-11-30,6.92,49:58,0:49:58,0,49,58,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
238,2011-12-03,4.05,31:06,0:31:06,0,31,06,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
239,2011-12-04,8.20,1:03:32,1:03:32,1,03,32,1111111111111111111111111111111111111111111111...,1111111111111111111111111111111111111111111111...
240,2011-12-06,4.20,30:00,0:30:00,0,30,00,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
241,2011-12-07,6.00,42:57,0:42:57,0,42,57,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
242,2011-12-10,3.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,2011-12-12,4.20,29:56,0:29:56,0,29,56,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
244,2011-12-13,4.10,28:31,0:28:31,0,28,31,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
245,2011-12-14,6.47,46:58,0:46:58,0,46,58,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
246,2011-12-16,6.00,43:14,0:43:14,0,43,14,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
247,2011-12-18,8.20,1:04:08,1:04:08,1,04,08,1111111111111111111111111111111111111111111111...,1111111111111111111111111111111111111111111111...
248,2011-12-20,5.00,33:50,0:33:50,0,33,50,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
249,2011-12-21,4.10,29:04,0:29:04,0,29,04,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
250,2011-12-22,4.07,29:35,0:29:35,0,29,35,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
251,2011-12-24,9.20,1:11:05,1:11:05,1,11,05,1111111111111111111111111111111111111111111111...,1111111111111111111111111111111111111111111111...
252,2011-12-27,8.20,1:00:49,1:00:49,1,00,49,1111111111111111111111111111111111111111111111...,1111111111111111111111111111111111111111111111...
253,2011-12-29,4.20,30:58,0:30:58,0,30,58,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
254,2011-12-30,6.10,49:18,0:49:18,0,49,18,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...
255,2012-01-01,3.10,19:05,0:19:05,0,19,05,0000000000000000000000000000000000000000000000...,0000000000000000000000000000000000000000000000...